---
layout: minimal
---
{% include components/headers.html headertype= page.header_type imghero=page.header_img projects=page.project_links %}
<main class="mb-5">
    {% if page.show_breadcrumb or page.show_date or page.show_sociallinks -%}
    {%- include components/breadcrumbdatesocial.html -%}
    {% endif %}
    <section class="container pb-3 flex-fill" id="introduction">
        <div class="row pt-2">
            <aside class="col-lg-2 mt-lg-3 small"></aside>
            <article id="maincontent"
                     class="col-lg-8 mt-3 e-content">
                {% if page.show_sidetoc %}

                {% include components/sidetoc.html %}

                {% endif %}
                {% if page.show_toc %}
                {% assign h_min = page.h_min | default: 2 %}
                {% assign h_max = page.h_max | default: 4 %}
                <nav aria-label="table-of-contents">
                    {% include components/toc.html sanitize=false html=content h_min=h_min h_max=h_max skip_no_ids=true
                    id="toc" class="chulapa-toc-wrapper.list-group.mb-5.mx-3.mx-lg-5"
                    item_class="list-group-item.font-weight-bold.py-1.pr-0.mr-0.chulapa-toc-reset" %}
                </nav>
                {% endif %}
                <!-- This is the content part to split into sections -->


                {% capture my_include %}{% include onepage/app_section1.html %}{% endcapture %}
                {{ my_include | markdownify }}
            </article>
        </div>
    </section>
    <section class="container-lg">
        <div class="row">
            <div class="col-lg">
                {% capture my_include %}{% include onepage/app_section2.html %}{% endcapture %}
                {{ my_include | markdownify }}
            </div>
        </div>
    </section>
    <section class="container pb-3 flex-fill" id="introduction">
        <div class="row pt-2">
            <aside class="col-lg-2 mt-lg-3 small"></aside>
            <article id="map_canvas"
                     class="col-lg-8 mt-3 e-content">
                {% capture my_include %}{% include onepage/app_section3.html %}{% endcapture %}
                {{ my_include | markdownify }}
            </article>
        </div>
    </section>


</main>
