<button id="explanationButton" class="btn btn-primary btn-sm rounded-right position-fixed" style="z-index:100000;color:red; left: 0px; top:100px" aria-label="show code">Show/Hide Tech</button>


<script>
  document.getElementById('explanationButton').addEventListener('click', function() {
    var techDivs = document.getElementsByClassName('tech');

    Array.prototype.forEach.call(techDivs, function(el) {
      if (el.style.display === 'none' || el.style.display === '') {
        el.style.display = 'block';
      } else {
        el.style.display = 'none';
      }
    });
  });
</script>